@use "sass:math";

$heading-color: #292f36;
$text-color: #4d5053;
$accent-color: #cda274;
$light-background-color: #f4f0ec;
$neutral-background-color: #fff;

$breakpoint-lg: 1440px;
$breakpoint-md: 1024px;
$breakpoint-sm: 768px;
$breakpoint-xs: 425px;

@mixin transition($property) {
  transition: {
    property: $property;
    duration: 0.3s;
    timing-function: ease-in-out;
  }
}

@function pxToVw($number) {
  @return math.div($number, 1920) * 100vw;
}

@function width($initNumInPx) {
  $x: math.div($initNumInPx - 288, 1920 - 320);
  $y: 320 * $x - 288;
  @return calc(100vw * $x - 1px * $y);
}