* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

body {
  margin-block: 2.7604166667vw 6.9791666667vw;
  background-image: url(../images/Background.png);
  background-size: cover;
}

[v-cloak] {
  display: none;
}

.button {
  transition: background-color 0.3s ease-in-out;
  display: inline-block;
  border: none;
  padding: 2.6rem 4.9rem 2.6rem 4.8rem;
  border-radius: 1.8rem;
  background-color: #292f36;
  box-shadow: 0rem 1rem 2rem 0rem rgba(192, 192, 192, 0.35);
  color: #fff;
  font-family: "Jost";
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.036rem;
  text-decoration: none;
}
.button__arrow-icon {
  margin-left: 1rem;
}
.button__arrow-icon-path {
  transition: stroke 0.3s ease-in-out;
  stroke: #cda274;
}
.button:hover {
  background-color: #cda274;
}
.button:hover .button__arrow-icon-path {
  stroke: #292f36;
}

.round-button {
  transition: scale 0.3s ease-in-out;
  display: block;
  border: none;
  width: 3.6458333333vw;
  height: 3.6458333333vw;
  color: inherit;
  background-color: transparent;
  transform-origin: center;
  scale: 1;
  cursor: inherit;
}
.round-button:hover {
  scale: 1.03;
}
.round-button_small {
  width: 2.7083333333vw;
  height: 2.7083333333vw;
}
.round-button__image {
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: min(1200px, 62.5vw);
}

.heading {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 5rem;
  font-weight: inherit;
  line-height: 125%;
  letter-spacing: 0.01rem;
}
.heading_logo, .heading_main {
  letter-spacing: normal;
}
.heading_logo {
  font-size: 4rem;
}
.heading_main {
  font-size: 6.5rem;
}
.heading_item {
  font-size: 2.5rem;
  letter-spacing: 0.005rem;
}
.heading_counter {
  color: #cda274;
  font-size: 8.5rem;
  letter-spacing: 0.17rem;
}
.heading_footer {
  font-size: 2.5rem;
  letter-spacing: normal;
}

.link {
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}
.link__icon-path {
  transition: fill 0.3s ease-in-out;
}
.link:hover {
  color: #cda274;
}
.link:hover .link__icon-path {
  fill: #cda274;
}

.logo {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

.nav-list__list-item {
  display: block;
}

.section {
  margin-bottom: 5vw;
}
.section__header {
  display: grid;
  gap: 0.8rem;
  margin: 0 auto;
  width: 61.4%;
  text-align: center;
}

.text {
  color: #4d5053;
  font-family: "Jost";
  font-size: 2.2rem;
  line-height: 150%;
  letter-spacing: 0.022rem;
}
.text_blog {
  font-size: 1.6rem;
  letter-spacing: 0.016rem;
  text-transform: capitalize;
}

.header {
  margin-bottom: 2.96875vw;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list {
  display: grid;
  grid-auto-flow: column;
  gap: 4.8rem;
}
.header__nav-link {
  color: #292f36;
  font-family: "Jost";
  font-size: 2rem;
  line-height: 125%;
}

.footer__container {
  display: grid;
  grid-auto-flow: column;
  gap: 5.26vw;
}
.footer__container > * {
  min-width: 6.25vw;
}
.footer__logo {
  margin-bottom: 1.8rem;
}
.footer__info {
  margin-bottom: 3.1rem;
}
.footer__socials {
  display: grid;
  grid-auto-flow: column;
  gap: 5.4rem;
  width: fit-content;
}
.footer__heading {
  margin-bottom: 2.6rem;
}
.footer__text {
  margin-bottom: 3rem;
}

.section-header {
  margin-left: 0;
  margin-bottom: 1.5625vw;
}

.banner {
  position: relative;
  min-height: 18.5416666667vw;
  background: url(../images/Blog-Banner.jpg), lightgray 50%/cover no-repeat;
}
.banner__header {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  border-radius: 37px 37px 0px 0px;
  padding: 4.1rem 7.8rem;
  background: #fff;
  text-align: center;
}

.latest {
  margin-bottom: 7.8125vw;
}
.latest__wrapper {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 6.5rem;
  padding: 2.2rem;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.latest__img {
  width: 29.6354166667vw;
  height: auto;
}
.latest__text-wrapper {
  margin-right: 3.4rem;
}
.latest__heading {
  margin-bottom: 2.2rem;
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
}
.latest__text {
  margin-bottom: 4.1rem;
}
.latest__bottom {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.blog {
  margin-bottom: 10.4166666667vw;
}
.blog__items-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.4583333333vw;
}
.blog__pagination {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  margin: 5.1rem auto 0;
  width: fit-content;
}
.blog__page-link {
  position: relative;
  padding: 0.7291666667vw 0.8854166667vw;
  font-size: 0.8333333333vw;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}
.blog__page-link-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.blog-item {
  transition: background-color 0.3s ease-in-out;
  display: block;
  border-radius: 3.2291666667vw;
  border: 1px solid #e7e7e7;
  padding: 2.1rem;
  box-shadow: 0rem 1rem 3rem 0rem rgba(255, 255, 255, 0.25);
}
.blog-item:hover {
  background-color: #f4f0ec;
}
.blog-item__round-button {
  transition: fill 0.3s ease-in-out;
}
.blog-item:hover .blog-item__round-button {
  fill: white;
}
.blog-item__img {
  width: 100%;
  height: auto;
}
.blog-item__img-wrapper {
  position: relative;
  margin-bottom: 2.1rem;
}
.blog-item__category {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  border-radius: 0.8rem 0.8rem 0.8rem 0;
  padding: 0.4rem 1.1rem 0.8rem;
  background: #fff;
  color: #4d5053;
  font-family: Jost;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.016rem;
  text-transform: capitalize;
}
.blog-item__heading {
  margin-bottom: 3rem;
}
.blog-item__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=blog.css.map */
